body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Add a background color */
    font-family: 'Arial', sans-serif; /* Change the font family */
    background-image:url(image/image.png) ;
    

}

form {
    text-align: left;
    background-color: #ffffff; /* Form background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

p {
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: #ff0000; /* Error message color */
}

button {
    background-color: #4caf6a; /* Button background color */
    color: #ffffff; /* Button text color */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Hover effect for the button */
}
